@using System.Web.Optimization
@{
    ViewBag.Title = "File system";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bodyContainer" ng-app="FsApp">
    <div ng-controller="FsController">
        <table>
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb-50Mb</th>
                <th>More 100Mb</th>
            </tr>
            <tr>
                <td>{{less10mb}}</td>
                <td>{{between10and50mb}}</td>
                <td>{{more100mb}}</td>
            </tr>
        </table>
        <br/>
        <div id="currentPath">{{currentpath}}</div>
        <div ng-repeat="item in objects">
            <a href="" ng-click="movetofolder(item)">{{item}}</a>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/fsapp")
}

